@use '../abstracts' as a;

.app {
  font-size: 1.8rem;
  font-weight: 700;
}

.header {
  z-index: 10;
  padding: 35px 60px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: a.$background-main;
  animation: headerHide 1s;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      max-width: 143px;
      object-fit: contain;
    }

    .nav-box {
      .nav {
        display: flex;
        justify-content: space-evenly;
        max-width: 696px;

        &__item {
          margin: 0 30px;
          cursor: pointer;
        }
      }
      &.responsive {
        .nav-box__responsive-background {
          content: '';
          z-index: 1;
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: a.$background-transparent;
        }

        .nav {
          display: flex !important;
          position: fixed;
          z-index: 2;
          top: 0;
          right: 0;
          bottom: 0;
          flex-direction: column;
          justify-content: flex-start;
          padding: 40px;
          padding-top: 20px;
          background-color: white;
          animation: slideLeft 1s;

          .nav__item {
            padding: 10px 30px 10px 0;
            border-bottom: 1px solid a.$border-dark;
            text-transform: uppercase;
          }
        }
      }
    }

    .btn {
      width: 200px;
      height: 48px;
      i {
        margin-left: 5px;
      }
    }

    .mobile-btn {
      display: none;
      margin-left: 20px;
      padding: 5px;
      color: #4c40f7;
      font-size: 2.4rem;
      cursor: pointer;
    }
  }

  &.fixed {
    position: fixed;
    padding: 15px 60px;
    animation: headerShow 1s;
  }
}

.banner {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 250px 0 590px;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 1035px;
    background-color: a.$background-main;
  }

  .banner__content {
    max-width: 570px;
    position: relative;
    z-index: 1;
    .banner__text {
      text-align: center;

      h1 {
        padding-bottom: 20px;
        background-image: url(../images/text-bg.webp);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 10rem;
        font-weight: 700;
        line-height: 1;
        background-position: 49% 40%;
        background-repeat: repeat;
        padding-bottom: 20px;
        text-shadow: 0 11px 10px rgba(0, 37, 47, 0.15);
      }

      span {
        font-size: 2.4rem;
        background-image: linear-gradient(90deg, #137ffc 0%, #f94f5a 50%, #137ffc);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      h2 {
        padding-top: 3rem;
        font-size: 6rem;
      }
    }

    .banner__btn-box {
      display: flex;
      justify-content: center;
      padding-top: 30px;

      .btn {
        margin: 0 10px;
        width: 225px;
        height: 65px;
      }
    }
  }

  .mockup-img {
    &__item {
      position: absolute;

      &:nth-child(1) {
        top: 33%;
        left: 0;
        animation: FadeInLeft 2s;
      }
      &:nth-child(2) {
        top: 28%;
        right: 0;
        animation: FadeInRight 2s;
      }
      &:nth-child(3) {
        right: 3%;
        bottom: 100px;
        z-index: 1;
        animation: FadeInLeft 2s;
      }
      &:nth-child(4) {
        left: 32%;
        bottom: 10px;
        width: 692px;
        height: 500px;
        animation: FadeInBottom 2s;
        img {
          width: 100%;
        }
      }
      &:nth-child(5) {
        animation: FadeInRight 2s;
        left: 5%;
        bottom: 100px;
      }
    }
  }
}

.app > .features {
  font-size: 1.8rem;
  padding: 70px 0;
  .features__item {
    display: flex;
    align-items: center;
    width: 274px;
    margin-right: 15px;
    cursor: pointer;

    img {
      animation: flipY 2.5s infinite;
    }
    img {
      margin-right: 15px;
    }
    .features-item__title {
      display: block;
      max-width: 115px;
    }
  }
}

.rev-features {
  padding: 60px 0;
  background-image: url(../images/rev-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  color: a.$white;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    .rev-features__header {
      max-width: 410px;
      position: relative;
      .rev-features__tag {
        display: inline-block;
        padding: 3px 10px;
        background-color: #db072a;
        border-radius: 3px;
      }
      .rev-features__title {
        font-size: 4rem;
        padding: 15px 0;
        margin-bottom: 20px;
        border-bottom: 1px solid a.$border-light;
      }
      .rev-features__sub-title {
        font-size: 1.8rem;
        color: a.$text-gray;
        span:first-child {
          color: #fb5e92;
        }
        span:last-child {
          color: a.$white;
        }
      }
    }

    .rev-features__desc {
      margin: 0;
      max-width: 320px;
      font-weight: 400;
      color: a.$text-gray;
      line-height: 24px;
    }

    img {
      max-width: 135px;
    }
  }
}

.video-section {
  position: relative;
  padding-top: 110px;
  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 590px;
    background-color: a.$background-main;
  }

  &__title-box {
    padding-bottom: 25px;
    text-align: center;
  }

  &__button-box {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    .btn {
      margin: 0 17px;
      width: 260px;
      height: 65px;
    }
  }

  img {
    width: 100%;
  }
}

.demos {
  padding-top: 100px;
  background-color: a.$background-light;

  &__title-box {
    margin: auto;
    text-align: center;
  }

  &__content {
    padding: 30px 80px;

    .filter {
      display: flex;
      justify-content: center;
      padding-bottom: 70px;
      &__list {
        padding: 10px;
        border-radius: 40px;
        border: 1px solid #e5e5e5;
        text-align: center;

        .filter__item:not(:last-child) {
          margin-right: 5px;
        }
        .filter__item {
          display: inline-block;
          .btn {
            width: auto;
            height: auto;
            padding: 15px 30px;
            font-size: 1.8rem;
            box-shadow: none;
            background-color: transparent;
          }
        }
      }
    }

    .demos-item {
      margin-top: 24px;
      padding: 30px 0 30px 15px;
      position: relative;
      background-color: a.$white;
      box-shadow: a.$box-shadow;
      transition: 500ms all ease;
      cursor: pointer;
      position: relative;
      opacity: 0;

      &.active {
        opacity: 1;
        animation: FadeInCenter 1s ease-in;
      }

      &__content {
        overflow: hidden;
        position: relative;
        height: 370px;
        display: flex;
        align-items: center;
        background-color: a.$background-main;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;

        &::after {
          content: '';
          position: absolute;
          display: none;
          z-index: 2;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: a.$background-transparent;
          animation: FadeInCenter 1s;
        }

        span {
          position: relative;
          z-index: 2;
          transform: translateX(-35%) rotate(90deg);
          color: a.$text-gray-light;
          font-size: 4.8rem;
        }

        .img-center {
          z-index: 1;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
        .img-back {
          z-index: 0;
          position: absolute;
          top: 0;
          right: 0;
        }
        .btn-box {
          display: none;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 5;
          .btn {
            margin: 0 8px;
            width: 150px;
            height: 55px;
            border-radius: 5px;
            animation: FadeInBottom 1s;
          }
        }
      }

      &__text {
        padding-top: 15px;
        h3 {
          display: inline-block;
          margin: 0;
          font-size: 2.2rem;
          line-height: 26.4px;
        }

        span {
          display: block;
          font-size: 1.6rem;
          font-weight: 300;
          line-height: 24px;
          color: a.$text-gray;
        }
      }

      &:hover {
        transform: translateY(-10px);
        box-shadow: a.$box-shadow-lg;

        h3 {
          background-image: a.$gradient-second;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        .demos-item__content {
          &::after {
            display: block;
          }
          .btn-box {
            display: flex;
          }
        }
      }
    }
  }
}

.features-2 {
  padding: 90px 0;
  background-color: a.$background-main;
  font-size: 1.8rem;

  .features-2__item {
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      .icon {
        animation: JumpIn 1s infinite;
      }
    }

    .icon {
      margin-right: 25px;
      width: 80px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: a.$white;
      border-radius: 50%;
      box-shadow: a.$box-shadow;
    }
    .text {
      display: flex;
      align-items: center;
      width: 110px;
      height: 48px;
    }
  }
}

.inner-pages {
  position: relative;
  &::before {
    content: '';
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 390px;
    position: absolute;
    background-color: a.$background-main;
  }
  &__content {
    background-image: url(../images/inner-bg.webp);
    color: a.$white;
    padding: 85px 0;
    border-radius: 8px;
    text-align: center;

    .title {
      margin: auto;
      width: 370px;
    }

    .slider {
      position: relative;
      padding-top: 50px;
      &__list {
        position: relative;
        .slider__item {
          img {
            max-width: 100%;
            width: 889px;
            object-fit: contain;
            border-radius: 8px;
          }
        }
      }

      &__control {
        .btn {
          position: absolute;
          width: 90px;
          height: 90px;
          border-radius: 50%;
          box-shadow: a.$box-shadow;
          font-size: 2rem;

          &:hover {
            color: a.$white;
          }

          &:hover::before {
            transform: scale(1);
          }

          &:before {
            content: '';
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            transition: 500ms all ease;
            border-radius: 50%;
            transform: scale(0);
            background-image: a.$gradient-second;
          }
        }

        .slider-control__left {
          top: 50%;
          transform: translateY(-50%);
          left: -2%;
        }

        .slider-control__right {
          top: 50%;
          transform: translateY(-50%);
          right: -2%;
        }
      }
    }
  }
}

.theme-feature {
  padding: 110px 0;

  &__title-box {
    margin: auto;
    max-width: 720px;
    text-align: center;
  }

  &__content {
    padding-top: 90px;
    .theme-feature__item {
      margin-bottom: 65px;
      .icon {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: a.$box-shadow;
        border-radius: 20px;

        img {
          max-width: 100%;
        }
      }

      .text {
        margin: auto;
        max-width: 195px;
        font-size: 2rem;
        line-height: 3rem;
        text-align: center;
      }
    }
  }
}

.load-speed {
  padding: 90px 0;
  background-image: url(../images/sp-bg.webp);
  color: a.$white;

  &__title-box {
    text-align: center;
    .title {
      margin: auto;
      max-width: 650px;
      padding-bottom: 15px;
    }
    .desc {
      margin: auto;
      max-width: 510px;
      font-size: 1.6rem;
      color: a.$text-gray;
      font-weight: 400;
    }
  }
  &__content {
    margin: auto;
    max-width: 780px;
    .load-speed__item {
      margin: auto;
      width: 215px;
      height: 215px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      color: a.$white;
      .percent {
        font-size: 5.5rem;
        line-height: 8.2rem;
      }
      .desc {
        font-size: 1.6rem;
      }
    }
  }
}

.ecommerce {
  padding-top: 70px;
  background-image: url(../images/woo-bg.webp);

  &__bg-box {
    position: relative;
    min-height: 580px;
    overflow: hidden;

    .bg {
      display: inline-block;
      height: auto;
      max-width: 100%;
      opacity: 0;

      &.active {
        opacity: 1;
        animation: zoomCenter 1s;
      }
    }

    .front-bg {
      position: absolute;
      top: 0;
      left: 0;
      max-width: 100%;
      opacity: 0;
      &.active {
        opacity: 1;
        animation: FadeInLeft 1s ease-in;
      }
    }
  }

  &__content {
    padding-top: 80px;

    .title {
      text-align: left;
      padding-bottom: 20px;
      line-height: 5.7rem;
    }
    .desc {
      font-weight: 400;
    }
    .features {
      padding-top: 40px;
      display: flex;
      gap: 20px;

      &__item {
        .icon {
          margin: auto;
          margin-bottom: 20px;
          width: 55px;
          height: 55px;
          background-color: a.$white;
          box-shadow: a.$box-shadow;
          border-radius: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        p {
          text-align: center;
        }
      }
    }
  }
}

.review {
  position: relative;
  padding-top: 110px;
  padding-bottom: 90px;
  background-color: a.$background-main;
  overflow: hidden;

  &__text-box {
    .title {
      text-align: left;
    }
  }

  &__wrapper {
    padding-top: 40px;
    display: flex;
    position: relative;
    top: 0;

    &.slide-left {
      left: 0;
      animation: slideRightRating 40s forwards;
      animation-delay: 1s;
      animation-iteration-count: infinite;
    }

    &.slide-right {
      padding-top: 0;
      left: -1000px;
      animation: slideLeftRating 40s forwards;
      animation-delay: 1s;
      animation-iteration-count: infinite;
    }

    .review__item {
      width: 390px;
      height: 186px;
      margin: 15px;
      padding: 40px 30px;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      background-color: a.$white;

      img {
        margin-right: 15px;
      }

      .review-item__content {
        color: a.$text-gray;
        .star-box {
          color: a.$blue;
        }
        p {
          margin: 8px 0;
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 2.1rem;
        }
        .name {
          line-height: 2.4rem;
          font-size: 1.6rem;
          color: a.$black;
          span {
            font-weight: 400;
            color: a.$text-gray-light;
          }
        }
      }
    }
  }
}

.author-support {
  padding: 90px 0;
  background-image: url(../images/sp-bg-1.webp);
  color: a.$white;
  &__item {
    text-align: center;
    img {
      margin-bottom: 25px;
    }
    h3 {
      padding-bottom: 10px;
      font-size: 2.4rem;
    }
    a {
      color: a.$text-gray;
    }
  }
}

.download {
  padding-top: 120px;
  padding-bottom: 85px;
  background-image: url(../images/dn.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 250px;

  &__logo {
    display: block;
    margin: auto;
  }

  &__content {
    max-width: 650px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    h2 {
      padding-bottom: 20px;
      margin-bottom: 8px;
      font-size: 7.2rem;
    }
    p {
      padding-bottom: 30px;
      margin-bottom: 16px;
      font-size: 2rem;
    }
    button {
      width: 300px;
      height: 85px;
      border-radius: 50px;
      font-size: 1.6rem;

      img {
        margin-right: 8px;
      }
    }
  }
}

.footer {
  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    color: a.$text-dark;
    font-weight: 400;

    p {
      i {
        color: a.$red;
      }
    }

    .social {
      a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        color: a.$text-gray;
        background-color: a.$background-main;
        border-radius: 50%;
      }
    }
  }
}

.scroll-on-top {
  position: fixed;
  z-index: 5;
  bottom: 30px;
  right: 30px;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  background-image: a.$gradient-third;
  cursor: pointer;
  color: a.$white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  opacity: 0;

  &.active {
    opacity: 1;
    animation: FadeInTop 1s;
  }
}

/* Responsive */
@media only screen and (max-width: 1440px) {
  .banner {
    .mockup-img {
      &__item {
        &:nth-child(1) {
          left: -60px;
        }
        &:nth-child(2) {
          right: -80px;
        }
        &:nth-child(3) {
          right: -10%;
        }
        &:nth-child(4) {
          width: 40%;
          left: 32%;
        }
        &:nth-child(5) {
          left: 1%;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .banner {
    padding-bottom: 200px;
    .mockup-img {
      display: none;
    }
  }
  .demos {
    &__content {
      .btn-box {
        flex-direction: column;
        gap: 20px;
      }
    }
  }
  .header {
    &__wrapper {
      .nav-box {
        .nav {
          display: none;
          animation: slideLeft;
        }
      }
      .mobile-btn {
        display: block;
      }
      .btn {
        margin-left: auto;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .features {
    &__content {
      justify-content: center;
    }
    &__item {
      margin-bottom: 30px;
    }
  }
  .features-2 {
    padding: 45px 0;
    .features-2__item {
      margin-bottom: 30px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 17px 30px;
  }
  .banner {
    padding: 150px 0;
  }
  .demos {
    padding-top: 50px;
    .filter {
      padding-bottom: 35px;
    }
  }
  .theme-feature {
    padding: 55px 0;
  }
}

@media only screen and (max-width: 600px) {
  .app {
    font-size: 1.6rem;
  }
  .header {
    padding: 15px !important;
    &__wrapper {
      .logo {
        max-width: 90px;
      }
      .btn {
        max-width: 150px;
        max-height: 40px;
      }
    }
  }
  .banner {
    padding-bottom: 100px;
    .banner__content {
      .banner__text {
        h2 {
          font-size: 4rem;
        }
      }
    }
    &__btn-box {
      flex-wrap: wrap;
      gap: 20px;
    }
  }
  .features {
    &__item {
      justify-content: center;
    }
  }
  .demos {
    &__content {
      padding: 10px 30px;
    }
  }
  .rev-features {
    &__content {
      flex-direction: column;
    }
  }
  .features-2 {
    font-size: 1.6rem;
    .features-2__item {
      .icon {
        margin-right: 10px;
      }
    }
  }
  .theme-feature {
    &__content {
      padding-top: 45px;
    }
  }
  .load-speed {
    &__content {
      .load-speed__item {
        height: 150px;
      }
    }
  }
  .video-section {
    &__button-box {
      flex-direction: column;
      align-items: center;
      .btn {
        margin-bottom: 10px;
      }
    }
  }
  .ecommerce {
    &__bg-box {
      min-height: auto;
      .front-bg {
        left: 20%;
      }
    }
  }
  .download {
    &__content {
      h2 {
        font-size: 5rem;
      }
    }
  }
  .footer {
    &__content {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
