@use '../abstracts' as a;

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  user-select: none;
  border: none;
  border-radius: 100vh;
  outline: none;
  cursor: pointer;
  font-weight: inherit;
  background-color: a.$background-white;
}

.btn-primary {
  color: a.$white;
  background-image: a.$gradient-main;
  background-size: 200%, 1px;
  transition: 500ms all ease;

  &:hover {
    background-position: 120%;
  }
}

.btn-secondary {
  position: relative;
  z-index: 1;
  color: a.$black;
  box-shadow: a.$box-shadow;
  overflow: hidden;
	
  &:hover {
		color: a.$white;
  }

  &:hover::before {
    left: 0;
    width: 100%;
    right: auto;
  }

  &::before {
    top: 0;
    right: 0;
    left: auto;
    content: "";
    z-index: -1;
    width: 0%;
    height: 100%;
    position: absolute;
    transition: 500ms all ease;
    background-image: a.$gradient-second;
    border-radius: 100vh;
  }

  &.active {
    color: a.$white;
    background-image: a.$gradient-second;
    background-color: red !important;
  }
}
